@import "tailwindcss";

/* ===============================
   PRINT NOTA THERMAL 80MM
================================ */

@media print {
  @page {
    size: 80mm auto;
    margin: 5mm;
  }

  body {
    margin: 0;
    padding: 0;
    background: white;
  }

  body * {
    visibility: hidden;
  }

  .print-area,
  .print-area * {
    visibility: visible;
  }

  .print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 80mm;
  }

  .no-print {
    display: none !important;
  }
}
